<div class="content">
    <div *ngIf="count !== 0; then tableBlock else emptyBlock"></div>
</div>

<ng-template #tableBlock>
    <div>Quantity: {{count}}; Total amount: {{amount}}$</div>
    Products you bought:
    <br>
    <br>

    <select #option (change)="change()">
        <option value="id">Id</option>
        <option value="name">Name</option>
        <option value="price">Price</option>
        <option value="rate">Rate</option>
    </select>

    <!-- used empty event to trigger my pipe after changing settings, I think that it is bad but do not have any idea -->
    <input #sortType type="checkbox" id="checkbox" (change)="change()" style="width: 20px;">
    <label for="checkbox">Descending</label>

    <br>
    <br>

    <table *ngIf="count !== 0">
        <thead>
            <th>Number</th>
            <th>Product ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Rate</th>
            <th>Quantity</th>
            <th>Product</th>
        </thead>
        <tbody>
            <tr *ngFor="let boughtProduct of ($boughtProducts | orderBy : option.value : sortType.checked | async); let i = index;"
                appHighlight>
                <td>{{i}}</td>
                <td>{{boughtProduct.product.id}}</td>
                <td>{{boughtProduct.product.name | uppercase}} </td>
                <td>{{boughtProduct.product.price | currency}}</td>
                <td>{{boughtProduct.product.rate}}</td>
                <td><input type="number" min="0" [value]="boughtProduct.quantity"
                        (change)="changeQuantity(boughtProduct.product,$event.target.value)"></td>
                <td><a [routerLink]="'/pruduct/'+boughtProduct.product.id">Product</a></td>
            </tr>
        </tbody>
    </table>
</ng-template>

<ng-template #emptyBlock>You did not bought any product</ng-template>