<div *ngIf="boughtProducts.length !== 0; then tableBlock else emptyBlock"></div>


<ng-template #tableBlock>
    <div highlight >Quantity: {{count}}; Total amount: {{amount}}$</div>
    Products you bought:
    <br>
    <table *ngIf="boughtProducts.length !== 0">
        <thead>
            <th>Number</th>
            <th>Product ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Rate</th>
            <th>Quantity</th>
        </thead>
        <tbody>
            <tr *ngFor="let boughtProduct of boughtProducts; let i = index">
                <td>{{i}}</td>
                <td>{{boughtProduct.product.id}}</td>
                <td>{{boughtProduct.product.name}}</td>
                <td>{{boughtProduct.product.price}}</td>
                <td>{{boughtProduct.product.rate}}</td>
                <td><input type="number" min="0" [value]="boughtProduct.quantity"
                        (change)="changeQuantity(boughtProduct.product,$event.target.value)"></td>
            </tr>
        </tbody>
    </table>
</ng-template>

<ng-template #emptyBlock>You did not bought any product</ng-template>