
<table>
    <thead>
        <th>Number</th>
        <th>Product ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Rate</th>
        <th>Action</th>
    </thead>
    <tbody>
        <tr *ngFor="let product of products$ | async; let i = index">
            <td>{{i}}</td>
            <td>{{product.Id}}</td>
            <td>{{product.Name}}</td>
            <td>{{product.Price}}</td>
            <td>{{product.Rate}}</td>
            <td><app-product-component [product] = "product"></app-product-component></td>
        </tr>
    </tbody>
</table>