<div class="nav">
    <nav *ngIf="isAdmin" class="menu">
        <ul>
          <li><h1>Angular Shop</h1></li>
          <li><a routerLinkActive="active" routerLink="/productList">Product List</a></li>
          <li><a routerLinkActive="active" routerLink="/admin/orders">Orders</a></li>
          <li><a routerLinkActive="active" routerLink="/admin/product/add">Add Product</a></li>
        </ul>
    </nav>
    <nav *ngIf="!isAdmin" class="menu">
      <ul>
        <li><h1>Angular Shop</h1></li>
        <li><a routerLinkActive="active" routerLink="/productList">Product List</a></li>
        <li><a routerLinkActive="active" routerLink="/cart">Bucket</a></li>
        <li><a routerLinkActive="active" routerLink="/order">Create Order</a></li>
      </ul>
  </nav>
</div>

<div class="container">
    <router-outlet></router-outlet>
</div>

