<div class="product__container">
    <div class="img">
        <a [routerLink]='["/pruduct",product.id]'>
            <img [src]='product.img'>
        </a>
    </div>
    <div class="product__information">
        <a *ngIf="!isAdmin" [routerLink]='["/product",product.id]'>
            <p>{{product.name}}</p>
        </a>
        <a *ngIf="isAdmin" [routerLink]='["/admin/product/edit",product.id]'>
            <p>{{product.name}}</p>
        </a>
        <p>Rate: {{product.rate}}/5</p>
        <br>
        <p>{{product.price}}$</p>
    </div>
</div>